*{
    margin: 0px;
    padding: 0px;
}
.half_width{
    width: 30%;
    float: left;
    overflow: hidden;
    margin-left: 5%;
    padding-left: 2%;
}
.half_width img{
    width: 100%;
}
h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
}
.name-color{
    color: rgb(236, 193, 0);
}
a{
    text-decoration: none;
}
.top_banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}