@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;400&family=Oswald:wght@300&display=swap');

body{
    font-family: 'Azeret Mono', monospace;

    font-family: 'Oswald', sans-serif;
}
.col{
    color: rgb(255, 208, 0);
}